*
!.gitignore
!alacritty/
!alacritty/**
!fish/
!fish/**
!gtk-3.0/
!gtk-3.0/**
!helix/
!helix/**
!hypr/
!hypr/**
!mako/
!mako/**
!sway/
!sway/**
!waybar/
!waybar/**
!rofi/
!rofi/**
!kitty/
!kitty/**
!ranger/
!ranger/**
