*
!.gitignore
!alacritty/
!alacritty/**
!fish/
!fish/**
!gtk-3.0/
!gtk-3.0/**
!helix/
!helix/**
!hypr/
!hypr/**
!mako/
!mako/**
!nwg-launchers/
!nwg-launchers/**
!sway/
!sway/**
!swaylock/
!swaylock/**
!waybar/
!waybar/**
!wofi/
!wofi/**
!rofi/
!rofi/**
!kitty/
!kitty/**
!ranger/
!ranger/**
!dunst/
!dunst/**
!dunst/
!dunst/**