*
!.gitignore
!bash/
!bash/**
!foot/
!foot/**
!gtk-3.0/
!gtk-3.0/**
!gtk-4.0/
!gtk-4.0/**
!helix/
!helix/**
!mako/
!mako/**
!river/
!river/**
!sway/
!sway/**
!waybar/
!waybar/**
!wofi/
!wofi/**
!kanshi/
!kanshi/**
