@import "mocha.css";

* {
  font-family: "JetbrainsMono Nerd Font";
  font-size: 18px;
  font-weight: bold;
  min-height: 0;
}

window#waybar {
  background: transparent;
}

.modules-left > * > *,
.modules-center > * > *,
.modules-right > * > * {
  background-color: @base;
  margin: 0.5rem 0.3rem 0rem 0.3rem;
  padding: 0.1rem 1.5rem;
  border-radius: 1rem;
}

#workspaces button, #tags button {
  color: @pink;
  border-radius: 1rem;
  margin: 5px 0;
  box-shadow: inset 0 -3px transparent;
  transition: all 0.3s ease-in-out;
  background-color: transparent;
}

#workspaces button.focused, #tags button.focused {
  color: @base;
  border-radius: 1rem;
  background-color: @rosewater;
}

#workspaces button:hover, #tags button:hover {
  color: @rosewater;
  border-radius: 1rem;
}

.modules-left, .modules-center, .modules-right {
  margin: 0 0.5rem;
}

#custom-launcher {
  color: @mauve;
}

#clock {
  color: @lavender;
}

#battery {
  color: @green;
}

#battery.charging, #battery.full, #battery.discharging {
  color: @yellow;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#network {
  color: @flamingo;
}

#backlight {
  color: @yellow;
}

#pulseaudio {
  color: @pink;
}

#pulseaudio.muted {
  color: @red;
}

#memory {
  color: @pink;
}

#cpu {
  color: @teal;
}

#custom-power {
  color: @red;
}

#custom-power, #custom-launcher {
  padding-right: 1.7rem;
}

tooltip {
  background: @base;
  border: 1px solid @pink;
}

tooltip label {
  color: @text;
}