layout {
    pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
    }
    pane split_direction="vertical" {
        pane size="65%" focus=true name="Code"
        pane split_direction="horizontal" size="35%" {
            pane size="50%" name="Misc"
            pane size="50%" name="Execute"
        }
    }
    pane size=2 borderless=true {
        plugin location="zellij:status-bar"
    }
}

