window {
  border-radius: 10px;
}

#input {
  margin: 5px;
  padding: 5px;
  border: none;
}

#inner-box, #outer-box {
  margin: 5px;
}

#scroll {
  margin: 0px;
}

#text {
  margin: 5px;
}

#entry, #entry:focus {
  border: none;
  padding: 5px;
}

#entry:selected {
  border-radius: 5px;
  border: none;
}
